<!DOCTYPE html>
<html>
    <head>
        <title>404</title>
        <link rel="icon" href="/img/weather_icon.png">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        {{>header}}
        <div>
            <p class="error-404">{{errorText}}</p>            
        </div>
        {{>footer}}
    </body>
</html>
